* {
    margin: 0;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    min-height: 100vh; /* 100vh는 화면 전체 높이의 100%를 의미 */
    padding: 50px 0;
}

ul {
    margin-top: 30px;
    text-align: center;
}

li {
    margin-top: 30px;
}

button {
    margin: 10px 0 0 10px;
    cursor: pointer;
}
