* {
    margin: 0;
    /* padding: 0; */
}

.main-center {
    display: flex; /* flex 선언 */
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    height: 100vh; /* 100vh는 화면 전체 높이의 100%를 의미 */
}

ul {
    margin-top: 30px;
}

li {
    margin-top: 10px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}
